
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*body*/
body { 
    background-size: cover;
    background-color: black;
    background-image: url(../plaatjes/stars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 #bg-1{
    background-image: url(../plaatjes/throne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
 }

/*header*/

header {
    width: 100%;
    padding: 20px 100px 20px 0px;
    background:transparent;
    display: flex;
    height: 10%;
    justify-content: space-between;
}
.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
ul {
    display: flex;
    list-style: none;
}
.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;

}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;

}

.navbar a:hover:before{
    width: 100%;
}

/*main*/
.mainindex{
    display: flex;
    justify-content: center;
}


.box-text{
    padding: 50px 200px 50px 200px;
}




.box-text{
    padding: 50px 200px 50px 200px;
}

/*section/article*/
section{
    display: flex;
    justify-content: space-around;
    text-align: center;
    overflow: hidden;
    position: relative;  
}
article{
    width: 50vw;
    margin: 10px;
    position: relative;
}

/*hs/ps*/
h1 {
    color: #fff;
    width: 100vw;
    justify-content: center;
    text-align: center;
    margin: 15px;
   
}

h2{
    text-align: center;
    color: #fff;
}


h3{
    color: #fff !important;
    text-align: center;
}

p{
    color:#fff;
    text-align: center;
}

/*plaatjes*/
.img-map2{
    width: 70%;
    border: 1px solid white;
}

.background{
    width: 85vw;
    position: absolute;
    width: 100%;
    opacity: 0.5;
   
}

.logo1{
    width: 25%;
}

.logo-1{
    position: absolute;
    z-index: 1;
    width: 50%;
   
    
}

img{
     width: 100%;
     display: block;
     margin: auto;
}



/*hover*/
.hover{
    color: #fff;
}
.hover{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.hover:hover{
    opacity: 1;
}



/*footer*/
nav{
    display: flex;
    justify-content: center;
    
   
}
li{
    margin: 15px;
    text-decoration: none;
    
}

